@define-color color_fg #f8f8f2;
@define-color color_bg #282a36;
@define-color color_selection #44475a;
@define-color color_comment #6272a4;
@define-color color_border #424242;
@define-color color_border_active #6699cc;
@define-color color_text #ffffff;
@define-color color_urgent #8f0a0a;
@define-color color_cyan #8be9fd;
@define-color color_green #50fa7b;
@define-color color_orange #ffb86c;
@define-color color_pink #ff79c6;
@define-color color_purple #bd93f9;
@define-color color_red #ff5555;
@define-color color_yellow #f1fa8c;
@define-color color_brightblue #d6acff;
@define-color color_brightcyan #a4ffff;
@define-color color_brightgreen #69ff94;
@define-color color_brightmagenta #ff92df;
@define-color color_brightred #ff6e6e;
@define-color color_brightyellow #ffffa5;
@define-color color_brightwhite #ffffff;
@define-color color_visual #3e4452;
@define-color color_nontext #3b4048;
@define-color color_white #abb2bf;
@define-color color_black #191a21;

/* -- base styles -- */

* {
        font-family: Noto Sans Nerd Font, sans-serif;
        font-size: 14px;
}

box,
button,
tray {
        background-color: @color_bg;
        background-image: none;
        box-shadow: none;
}

button,
label {
        color: @color_text;
}

button:hover {
        background-color: @color_bg;
}

scale trough {
        min-width: 1px;
        min-height: 2px;
}

#bar {
        border-top: 1px solid @color_border;
}

.popup {
        border: 1px solid @color_border;
        padding: 1em;
}

/* -- custom: power menu -- */

.popup-power-menu #header {
        font-size: 1.4em;
        padding-bottom: 0.4em;
        margin-bottom: 0.6em;
        border-bottom: 1px solid @color_border;
}

.popup-power-menu .power-btn {
        border: 1px solid @color_border;
        padding: 0.6em 1em;
}

.popup-power-menu #buttons>*:nth-child(1) .power-btn {
        margin-right: 1em;
}

/* -- clock -- */

.clock {
        font-weight: bold;
        margin-left: 5px;
}

.popup-clock .calendar-clock {
        color: @color_text;
        font-size: 2.5em;
        padding-bottom: 0.1em;
}

.popup-clock .calendar {
        background-color: @color_bg;
        color: @color_text;
}

.popup-clock .calendar .header {
        padding-top: 1em;
        border-top: 1px solid @color_border;
        font-size: 1.5em;
}

.popup-clock .calendar:selected {
        background-color: @color_border_active;
}

/* notifications */

.notifications .count {
        font-size: 0.6rem;
        background-color: @color_text;
        color: @color_bg;
        border-radius: 100%;
        margin-right: 3px;
        margin-top: 3px;
        padding-left: 4px;
        padding-right: 4px;
        opacity: 0.7;
}

/* -- sys_info -- */

.sysinfo {
        margin-left: 10px;
}

.sysinfo .item {
        margin-left: 5px;
}


/* -- tray -- */

.tray {
        margin-left: 10px;
}

/* -- volume -- */

.popup-volume .device-box {
        border-right: 1px solid @color_border;
}

/* -- workspaces -- */

.workspaces .item.focused {
        box-shadow: @color_border_active 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.workspaces .item:hover {
        background-color: @color_selection;
}
